.banner{
    background-color: var(--azul);
    color: var(--branco);
    font-family: var(--fonte-principal);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 24px;
    gap:8px;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-weight: 500;
    width: 84%;
}

.banner__pesquisa{
    border-radius: 24px;
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    padding: 11.5px;
    width: 100%;
    margin-top: 16px;
}
.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url(../assets/Pesquisa.svg) no-repeat;
    background-position: 16px;
}

