.carrossel__titulo{
    background-color: var(--branco);
    color: var(--laranja);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 16px 0px 12px 0px
}

.swiper-slide img{
    width:100%;
}

.swiper-button-prev, .swiper-button-next {
    display:none;
}

.swiper-pagination{
    position: initial;
    margin: 10px 0 14px 0;
}

.card{
    background-color: var(--branco);
    margin: 24px 20px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card__descrição{
    display: flex;
    gap:16px;
    margin-bottom: 8px;
}
.descrição{
    display:flex;
    flex-direction: column;
    gap:8px;
}
.descrição__titulo{
    color: var(--laranja);
    font-size: 1em;
    font-weight: 700;
}
.descrição__titulo-livro{
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
}
.descrição__texto{
    font-size: 14px;
}
.descrição img{
    width: 55%;
}
.card__botões{
    display:flex;
    justify-content: space-between;
}
.botões{
    display:flex;
    justify-content: space-between;
    width: 28%;
}
.botões__item{
    width: 32px;
    height: 32px;
}
.botões__link{
    padding: 16px 35px;
    font-weight: 700;
    color: var(--branco);
    text-decoration: none;
    background-color: var(--laranja);
}

@media screen and (min-width: 1024px){
    .carrossel__titulo{
        font-size: 26px;
        padding: 43px 0px 24px 0px;
    }
    .swiper-pagination{
        margin: 32px 0 64px 0;
    }
    .swiper{
        width: 70%;
    }
    .swiper-button-prev, .swiper-button-next {
        display:block;
        top: 60%    
    }
    .card{
        width: 47%;
        margin: 60px auto 48px auto;
    }
    .descrição__texto{
        font-size: 16px;
    }
    .descrição img{
        width: 25%;
    }
} 

@media screen and (min-width: 1728px){
    .carrossel__conteudo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 119px 163px;
    }
    .swiper-pagination{
        margin: 0px 0px 35px 0px;
    }
    .swiper{
        width: 43%;
    }
    .card{
        width: 34%;
    }
    .descrição__titulo{
        font-size: 2em;
    }
    .descrição img{
        width: 30%;
    }
} 