.navBar_menu-hamburguer{
    width: 36px;
    height: 24px;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    color:transparent;
}

.navBar{
    background-color: var(--branco);
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
}
.navBar__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.navBar__titulo{
    display: none;
}
.navBar__opcoes{
    display: none;
}
.navBar__right{
    display: flex;
    align-items: center;
    gap: 8px;
}
.navBar__texto{
    display: none;
}

.navBar__menu{
    display:none;
}
.menu_lista{
    display:none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 60vw;
}
.navBar__menu:checked ~ .menu_lista{
    display: block;
}
.menu_lista_titulo, .menu_lista_item{
    background-color: var(--branco);
    padding: 16px 24px;
    text-align: left;
}
.menu_lista_titulo{
    color: var(--laranja);
    font-weight: 700;
}
.menu_lista_link{
    background-color: var(--azul);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    background-clip: text;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px){
    .navBar{
        padding: 21px 80px;
    }
    
    .navBar_menu-hamburguer{
        display:none;
    }
    .navBar__titulo, .navBar__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    .navBar__titulo{
        font-weight: 400;
        display: block;
    }
    .navBar__titulo--negrito{
        font-weight: 700;
    }

    .navBar__opcoes{
        display:flex;
        align-items: center;
        font-family: var(--fonte-principal);
        font-size: 1em;
        font-weight: 400;
        gap:10px;
    }
    .opcoes__item{
        padding: 10px;
        text-transform: uppercase;
    }
    .opcoes__link{
        text-decoration: none;
        color: var(--black);
    }
    .opcoes__botao{
        display: none;
    }
    .opcoes__lista{
        display:none;
        position: absolute;
        top: 100%;
        left: 38%;
        width: 18vw;
    }
    .opcoes__botao:checked ~ .opcoes__lista{
        display: block;
    }
    .opcoes__lista-item{
        background-color: var(--branco);
        padding: 24px 24px 16px 24px;
        text-align: left;
    }
    .opcoes__lista-item:hover{
        background-color: var(--azul);
        color: var(--branco);
    }
    .navBar__right{
        gap: 61px;
    }
    .navBar__favoritos{
        display: none;
    }
}

@media screen and (min-width: 1728px) {    
    .navBar{
        justify-content: left;
        gap:57px;
    }
    
    .navBar__right{
        margin-left: auto;
    }

    .navBar__botao{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        font-size: 20px;
    }
    .navBar__texto{
        display:block;
    }
    .navBar__favoritos{
        display: none;
    }
    
    .opcoes__lista{
        left: 20%;
    }
}